
SimulationPhyicsFaculty/.vs/SimulationPhyicsFaculty/v16/.suo
*.db
*.db-shm
*.db-wal
*.opendb
*.ipch
*.tlog
*.exe
*.recipe
*.ilk
*.idb
*.log
*.obj
*.pdb
*.txt
*.vcxproj
*.filters
*.user
*.sln
SimulationPhyicsFaculty/data.csv
